<nav class="navbar navbar-inverse" *ngIf="isLoggedIn$ | async">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="login">Login</a></li>
      <li><a (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</nav>