
<div class="signin-content">

      <div class="">

          <h3 class="text-center">Welcome!</h3>
          <div class="col-md-offset-4 col-md-4">
            <form (ngSubmit)="onLogin()" #loginForm="ngForm">
                <div class="row form-group">
                        <label>Type your name here:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                            <input class="form-control input_user" name="userName"
                                  placeholder="User" 
                                  [(ngModel)]="user.userName" 
                                  required
                                  #userName="ngModel"
                                  >
                        </div>
                </div>
                  
                <div class="row form-group">
                  <label>Type your password</label>
                  <div class="input-group">
                      <div class="input-group-addon">
                          <i class="fa fa-key"></i>
                      </div>
                      <input type="password" class="form-control" name="password"
                            placeholder="Password" 
                            [(ngModel)]="user.password" 
                            required
                            #password="ngModel"
                            >
                  </div>
                </div>

                <div class="row form-group text-center">
                    <button type="submit" name="button" class="btn btn-success">
                        Enter
                        <i class="fa fa-sign-in"></i>
                    </button>
                </div>
              </form>
          </div>
      </div>

</div>
