<div>
        <h4>Toastr</h4>
        <button type="button" class="btn btn-success" (click)="onSuccessClick()">
                Success
        </button>
        <button type="button" class="btn btn-danger" (click)="onErrorClick()">
                Danger
        </button>
        <button type="button" class="btn btn-warning" (click)="onWarningClick()">
                Warning
        </button>
        <button type="button" class="btn btn-info" (click)="onInfoClick()">
                Info
        </button>
</div>

<div>
        <h4>Modal</h4>
        <button class="btn btn-primary" (click)="onOpen(content)">
                Launch demo modal
        </button>
        <button type="button" class="btn btn-warning"
                tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                Simple demo
        </button>
</div>


<ng-template #content>
        <div class="modal-header">
                <h4 class="modal-title pull-left">Modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
                <p>Do you want to save changes you made to document before closing?</p>
                <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
        </div>
</ng-template>

